<h2>Available drones</h2>

<ul>
{{#each drones}}
<li><a href="/drones/{{id}}/edit"> {{name}}</a> Edit</li>
<p> Propellers: {{propellers}}</p>
<p>maxSpeed:  {{maxSpeed}}</p>
     <form action="/drones/{{id}}/delete" method="POST">
     <button type="submit">Delete</button>
     </form>
     <br/>
{{/each}}
</ul>